[user]
name = Matthieu Pizenberg
email = matthieu.pizenberg@gmail.com
signingkey = A167479D88D806B4

[core]
editor = vim
pager = delta

[color]
ui = auto
diff = auto
log = auto
branch = auto

[merge]
tool = meld
conflictstyle = diff3

[rerere]
enabled = true

[alias]
ci = commit
co = checkout
st = status
br = branch

lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
lg = !"git lg1"

[init]
defaultBranch = main

[commit]
gpgsign = true

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true    # use n and N to move between diff sections
# delta detects terminal colors automatically; set one of these to disable auto-detection
# dark = true
# light = true

[diff]
colorMoved = default
